<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbait.anchack.condition.mapper.ConditionEssentialMapper">

  <insert id="insertBatch">
    INSERT INTO condition_essentials (condition_id2, category)
    VALUES
    <foreach collection="rows" item="row" separator=",">
      (#{row.conditionId2}, #{row.category})
    </foreach>
  </insert>

</mapper>
