<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kbait.anchack.condition.mapper.ConditionGuMapper">

  <insert id="insertBatch">
    INSERT INTO condition_gus (condition_id, gu_code)
    VALUES
    <foreach collection="rows" item="row" separator=",">
      (#{row.conditionId}, #{row.guCode})
    </foreach>
  </insert>

  <select id="findGuCodesByConditionId" resultType="java.lang.String">
    SELECT gu_code
    FROM condition_gus
    WHERE condition_id = #{conditionId}
  </select>

</mapper>
