<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- DB의 snake_case 컬럼을 Java의 camelCase 필드로 자동 매핑 -->
        <!-- 예: provider_id → providerId -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- MyBatis 실행 SQL을 콘솔에 출력 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

</configuration>